@model Wigros.Web.Models.Product

@{
    ViewBag.Title = "Delete";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>@Model.Name Ürününü Sil</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                    <form>
                        <div class="row mb-3">
                            @Html.Label("Kategori Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Category.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            @Html.Label("Marka Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Brand.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            @Html.LabelFor(model => model.Name, "Ürün İsmi", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" , @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="row mb-3">
                            @Html.LabelFor(model => model.ImagePath, "Resim", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @if (Model.ImagePath != null)
                                {
                                    <img src="../../Assets/img/product/@Model.ImagePath" class="img-thumbnail" width="320" height="150" alt="" />
                                }
                                else
                                {

                                }
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-danger"><i class="bi bi-save me-1"></i> Sil</button>
                                <a href="/product/index/" class="btn btn-warning"><i class="ri-arrow-go-back-fill"></i> Geri Dön</a>
                            </div>
                        </div>
                    </form><!-- End General Form Elements -->
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>